<main id='root'></main>

<script type="text/javascript">
    window.logo = "<%= image_url('logo_orange.png') %>"
    window.signinIcon = "<%= image_url('signin_icon.svg') %>"
    window.splashBanner = "<%= image_url('splash_banner.jpg') %>"
    window.logoWhiteFull = "<%= image_url('logo_white_full.png') %>"
    window.textIcon = "<%= image_url('text_icon.svg') %>"
    window.mapIcon = "<%= image_url('map_icon.svg') %>"
    window.calendarIcon = "<%= image_url('calendar_icon.svg') %>"
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>