<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" 
      type="image/png" 
      href="https://aa-file-upload-dev.s3.amazonaws.com/logo_orange.png">

    <title>EventNite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChzMJPuKYv_BNHT1LAei16kDcohpRYX-U&libraries=places"></script>
  </body>
</html>
